<main>
  <section class="header-container">
    <div class="header">
      <h1>Cotação do Dólar &nbsp; R$ {{ cotacaoAtual.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</h1>
    </div>
    
    <div class="buscarPorPeriodo">
      <div class="data-container">
        <div class="calendar-tie">
          <div class="label-calendar">
            <label class="mr-3" for="dataInicial">Data inicial:</label>
            <input
              class="input-data"
              id="dataInicial"
              type="date"
              name="dataInicial"
              [max]="hoje"
              [(ngModel)]="dataInicial"
            >
          </div>
          <div class="label-calendar">
            <label class="mr-3" for="dataFinal">Data final:</label>
            <input
              class="input-data"
              id="dataFinal"
              type="date"
              name="dataFinal"
              [max]="hoje"
              [min]="dataInicial"
              [(ngModel)]="dataFinal"
            >
          </div>
        </div>
        <div class="switch-cotacao">
          <mat-slide-toggle
            (change)="toggleMenorAtual($event)"
            class="custom-slide-toggle"
          >
            Somente menores que a cotação atual
          </mat-slide-toggle>
        </div>
      </div>
      <button 
        mat-raised-button 
        type="submit" 
        class="btnPesquisar" 
        (click)="getCotacaoPorPeriodo(dataInicial, dataFinal)" 
        > 
          Pesquisar 
        </button>
    </div>
  </section>
  
  <div class="body-container">
    <table 
      *ngIf="cotacaoPorPeriodoLista.length > 0 && !loading" 
      class="table table-striped"
      [ngStyle]="{
        'height.px': (cotacaoPorPeriodoLista.length * 46) + 46,
        'max-height.px': ((cotacaoPorPeriodoLista.length * 46) + 46) - 184 
      }"
    >
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Preço</th>
          <th scope="col">Diferença</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let item of cotacaoPorPeriodoLista; let i = index" [class.table-active]="i % 2 !== 0">
          <td>{{item.data}}</td>
          <td>R$ {{item.preco.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</td>
          <td>
            <span class="diferenca">
              <i class="bi" [ngClass]="{'bi-caret-up-fill': +item.diferenca > 0, 'bi-caret-down-fill': +item.diferenca < 0}"></i>
              R$ {{ item.diferenca.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="not-register" *ngIf="cotacaoPorPeriodoLista.length === 0 && !loading">
      <i class="bi bi-exclamation-triangle"></i>
      <p class="text-center">Nenhum registro encontrado</p>
    </div>
    <div *ngIf="loading" class="loader-container">
       <img src="./assets/img/logo-shx.png" alt="log-shx">
    </div>
  </div>

  
  <app-modal
    *ngIf="modal.open"
    [title]="modal.title"
    [msg]="modal.msg"
    (close)="closeModal()"
  >
    <button 
      mat-raised-button 
      color="primary"
      class="btnCloseModal" 
      (click)="closeModal()" 
    > 
      Okay
    </button>
  </app-modal>
</main>