main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;

    @media screen and (min-width: 600px){
        .header-container{
            .header {
                h1{
                    font-size: 50px !important;
                }

                span{
                    font-size: 50px !important;
                    gap: 8px !important;
                    i{
                        font-size: 45px !important;
                    }
                }
            }
        }
        .buscarPorPeriodo {
            border-radius: 0 !important;
            flex-direction: column !important;
            height: 156px !important;
            gap: 24px !important;
            justify-content: flex-start !important;
            position: relative;
            .data-container{
                flex-direction: row !important;
                align-items: center;
                justify-content: center;
                gap: 16px;
                .calendar-tie{
                    gap: 24px !important;
                    width: 100%;
                    margin-right: 16px;
                    flex-direction: row !important;
                    .label-calendar{
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        .input-data{
                            width: 142px !important;
                        }
                        label {
                            font-family: "Bebas Neue", sans-serif;
                        }
                    }
                }
                
                .switch-search{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .btnPesquisar{
                        align-self: center;
                        border-radius: 8px;
                        border: none;
                        background-color: #FF8614;
                        color: #FFFFFF;
                        width: 142px;
                        min-width: 142px !important;
                        height: 40px;
                        min-height: 40px;
                        position: absolute;
                        left: 50%;
                        bottom: 8px;
                        transform: translateX(-50%);
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }

        }
    }

    .header-container{
        height: 266px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        color: #005581;
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 16px;
            height: 110px;
            min-height: 110px;
            width: 100%;
            gap: 16px;
            h1{
                font-size: 35px;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                margin-bottom: 0;
                line-height: 35px;
                margin-right: 8px;
            }

            span{
                white-space: nowrap;
                align-items: center;
                display: flex;
                font-size: 35px;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 700;
                line-height: 35px;
                i{
                    font-size: 35px;
                }
                .bi-caret-down-fill{
                    color: red;
                }
                .bi-caret-up-fill{
                    color: green;
                }
            }
        }
        
        .buscarPorPeriodo {
            background-color: #015580;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            max-height: 200px;
            width: 100%;
            overflow: hidden;
            border-radius: 16px;
            padding: 8px;
            .data-container{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 16px;
                height: 100%;
                .calendar-tie{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 8px;
                    width: 50%;
                    .label-calendar{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        label {
                            margin: 0 0 2px 0;
                            font-size: 20px;
                            font-family: "Bebas Neue", sans-serif;
                        }
                        .input-data{
                            width: 132px;
                            height: 40px;
                            outline: none;
                            border: none;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
                .switch-search{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    height: 100%;
                    width: 50%;
                    .btnPesquisar{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        border: none;
                        background-color: #FF8614;
                        color: #FFFFFF;
                        max-width: 132px;
                        min-width: 132px;
                        height: 40px;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                
            }
            
        }
    }

    .body-container{
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        .table{
            margin-top: -1px;
            margin-bottom: 0;
            th, td{
                text-align: center;
                vertical-align: middle;
            }
            thead{
                border: none !important;
                tr{
                    background-color: #FFF;
                    position: sticky;
                    top: -0.2px;
                    box-shadow: 0 2px 20px -3px rgba(0,0,0,0.4); 
                    th{
                        color: #55575A;
                        font-size: 16px;
                        text-transform: uppercase;
                    }                   
                }
            }
            tbody{
                td{
                    border-bottom: 1px solid #4a4f5393;
                    border-right: 1px solid #4a4f5393;
                    font-size: 16px;
                    &:last-child{
                        border-right: none;
                    }
                }
            }
            .diferenca{
                display: flex;
                align-items: center;
                justify-content: center;

                .bi{
                    font-size: 20px;
                    margin-right: 8px;
                }
                .bi-caret-down-fill{
                    color: red;
                }
                .bi-caret-up-fill{
                    color: green;
                }
                .bi-pause-fill{
                    color: #005581;
                    font-size: 24px;
                    transform: rotate(90deg);
                    margin-bottom: 0;
                }
            }
        }
        .not-register{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            i{
                margin-top: -120px;
            }
            i{
                font-size: 70px;
                color: #FF8614;
                margin-bottom: 24px;
            }
            p{
                font-size: 32px;
                color: #FF8614;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                line-height: 29px;
            }
        }
        .loader-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            img{
                margin-top: -150px;
                width: 50%;
                height: 30%;
                object-fit: contain;
                animation: imgloader 1s linear infinite alternate;
            }
            @keyframes imgloader {
                0% {
                    opacity: 0;
                    transform: scale(0.2);
                }
                100% {
                    opacity: 0.8;
                    transform: scale(.8);
                }
            } 
        }
        
    }
    app-modal{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

::ng-deep mat-slide-toggle {
    height: 60px !important;
    align-items: center !important;
    display: flex !important;
    margin-bottom: 0;
    margin-top: 6px;
    .mat-slide-toggle-bar {
        margin-bottom: 8px !important;
    }
    &.mat-checked {
      .mat-slide-toggle-bar {
        background-color: #ebbe94 !important;
      }
      .mat-slide-toggle-thumb {
        background-color: #ff8614 !important;
      }
    }
    .mat-slide-toggle-label {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center !important;
        margin-bottom: 0;

        .mat-slide-toggle-content{
            text-align: center !important;
            letter-spacing: .19px;
            font-family: "Bebas Neue", sans-serif;
            white-space: wrap !important;
            line-height: 1 !important;
            font-size: 20px;
            margin-bottom: -2px;
        }
    }
  }
  
  @media screen and (min-width: 600px) {
    ::ng-deep .mat-slide-toggle-label {
      display: flex;
      width: 100% !important;
      justify-content: center !important;
      .mat-slide-toggle-bar{
        margin-right: 8px;
      }
    }
  
    ::ng-deep .mat-slide-toggle-label {
      display: flex;
      flex-direction: row;
      height: 100%;
      white-space: wrap !important;
    }
  }